* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: #e3f2fd;
}
h1 {
  text-align: center;
  background-color: rgb(42, 42, 116);
  color: #fff;
  padding: 40px;
  font-size: 3rem;
  font-weight: 700;
  margin: 0px;
  height: 20vh;
}


